<section>
    <h1 class="fw-bold">Olá, Fulano!</h1>
    <div class="d-flex align-items-center justify-content-between mb-5">
        <div>
            <h2 class="mb-0">Horários</h2>
            <!-- <mat-form-field appearance="fill">
                <mat-label>Favorite food</mat-label>
                <mat-select>
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
        </div>

        <button mat-button color="accent" (click)="openDialog()">
            Adicionar aula <mat-icon>chevron_right</mat-icon>
        </button>
    </div>

    <div *ngFor="let classSchedule of classesSchedule" class="class-row row align-items-center p-3 rounded mb-3">
        <div class="col-3">
            <p class="text-black mb-0 fw-bold">{{getDate(classSchedule.date)}}</p>
            <p class="text-gray mb-0"> às {{getHour(classSchedule.date)}}</p>
        </div>
        <div class="col">
            <p class="text-black mb-0">Nome do progessor aqui</p>
            <p *ngIf="classSchedule.class" class="text-gray mb-0">{{classSchedule.class.name}}</p>
        </div>
        <div class="col-2">
            <img src="https://picsum.photos/200/300" alt="Avatar">
        </div>
    </div>
</section>