<section>
  <h1 class="fw-bold">Olá, Fulano!</h1>
  <div class="d-flex align-items-center justify-content-between mb-5">
    <h2 *ngIf="semester" class="mb-0">{{semester.year}} {{semester.semester}}</h2>
    <button mat-button color="accent" (click)="openDialog()">
      Adicionar matéria <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <mat-list>
    <mat-list-item *ngFor="let class of classes" class="border-bottom text-secondary">
      <div class="d-flex justify-content-between w-100">
        <p class="mb-0">{{ class.name }}</p>
        <mat-icon class="pointer" (click)="deleteClass(class.id)">delete</mat-icon>
      </div>
    </mat-list-item>
  </mat-list>

</section>