<div class="sidebar d-flex flex-column p-3 bg-light h-100">
  <a href="/dashboard">
    <img src="assets/logo.svg" alt="Logo">
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a type="button" class="nav-link active" aria-current="page" routerLink="/teste">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#home"></use>
        </svg>
        Home
      </a>
    </li>
    <li>
      <a class="nav-link link-dark" aria-current="page" routerLink="/dashboard/materias">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#speedometer2"></use>
        </svg>
        Dashboard
      </a>
    </li>
  </ul>
</div>
