<div class="sidebar d-flex flex-column p-3 bg-light">
  <a href="/dashboard">
    <img src="assets/logo.svg" alt="Logo">
  </a>
  <hr>
  <ul class="nav flex-column mb-auto">
    <li class="nav-item">
      <a type="button" class="nav-link" aria-current="page" routerLink="/dashboard/inicio"
        [routerLinkActive]="'active'">
        <mat-icon class="me-3">alarm</mat-icon> Início
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" routerLink="/dashboard/materias" [routerLinkActive]="'active'">
        <mat-icon class="me-3">bookmark_border</mat-icon> Materias
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" routerLink="/dashboard/perfil" [routerLinkActive]="'active'">
        <mat-icon class="me-3">person_outline</mat-icon> Perfil
      </a>
    </li>
  </ul>
</div>