<div class="sidebar d-flex flex-column p-3 bg-light h-100">
  <a href="/dashboard">
    <img src="assets/logo.svg" alt="Logo">
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a type="button" class="nav-link active" aria-current="page" routerLink="/dashboard">

        Home
      </a>
    </li>
    <li>
      <a class="nav-link link-dark" aria-current="page" routerLink="/dashboard/horarios">
        Horários
      </a>
    </li>
    <li>
      <a class="nav-link link-dark" aria-current="page" routerLink="/dashboard/materias">
        Materias
      </a>
    </li>
  </ul>
</div>